ion-item{
    margin-bottom: 12px;
    border-radius: 5px;
    --background-color: #313235;
    --background: #313235;
    --color: #fafafa;
    --padding-top: 15px;
    --padding-bottom: 15px;
}

ion-list{
    margin-bottom: 0;
    background-color: #191919;
}

ion-thumbnail{
    --border-radius: 6px;
}

ion-icon{
    border-radius: 4px;
    font-size: 21px;
} 

ion-label{
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: bold;
}

p{
    text-transform: uppercase;
    font-size: 12px;
    color: #ccc;
    display: block;
    text-align: center;
    margin: 20px 0;
    font-family: 'Proxima-bold';
}

.item .sc-ion-label-md-h {
    color: #fafafa !important;
}