<div class="main-wrapper">
  <ion-header class="lightheader" no-border>
    <ion-toolbar mode="ios" class="ion-color" [style.background-color]="customColor">
            <ion-buttons slot="start">
              <ion-button color="light" mode="md" (click)="goClosePage()" slot="start" color="primary">
                <ion-icon name="md-arrow-back"></ion-icon>
              </ion-button>
            </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-color" [style.background-color]="customColor">
  
  <ion-grid fixed style="height: 100%;" >
  
      <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
        <ion-col size="8" class="ion-text-center">
          <ion-text color="light">
            <h1>Reset Password</h1>
          </ion-text>
    
          <form class="form" autocomplete="off" [formGroup]="validationsform" (ngSubmit)="tryRestPass(validationsform.value)">
              <ion-list class="line-input" mode="md"> 
                  <ion-item mode="md">
                <ion-input class="ion-text-left" placeholder="Your email" type="email" formControlName="email"></ion-input>
                  </ion-item> 
                </ion-list>
                <ion-text color="light">
                  <p>We’ll send you an email with instructions to reset your password.</p>
                </ion-text>
              <ion-button class="button-h ion-color" mode="ios" type="submit" [disabled]="!validationsform.valid" [style.background-color]="customColor"fill="solid" size="default" shape="round" expand="block">
                {{strings.ST28}}
              </ion-button>
            </form>
        </ion-col>
      </ion-row>
    
    </ion-grid>
  
  </ion-content>
  </div>