ion-grid {
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 25px;
    max-width: 90%;
    margin: 0 auto;

    ion-row {
        flex-grow: 1;
        height: auto;
    }
  }
 
  ion-content{
    background: #191919;
}

ion-header{
    background-color:#191919 ;
    height: 100%;
    padding: 10px 0 10px 0 !important;
    height: auto ;
}

.ion-text-capitalize{
    width: 100%;
    color: #eafff7;
    font-family: Proxima-bold;
    font-size: 32px !important;
    line-height: 32px;
    text-transform: none !important;
    padding: 0 5%;
    text-align: left;
    }

    ion-col{
        min-height: 150px;
    }

    .today{
        color: #e0e0e0;
        font-family: 'Proxima-semi';
        line-height: 24px;
        font-size: 20px;
        text-align: left;
        margin-top: 0px;
        width: 100%;
    }

    .workout-info .today{
        width: 75%;
    }

    .view-all .today{
        margin: 0px;
    }

    .today-info .card-center-bg{
        padding: 0px !important;
        background: none;
    }

    .workout-info .card-center-bg, .workout-info .card-center-image, .workout-info ion-col{
        min-height: auto !important;
        background: none !important;
        padding: 0px !important;
    }


    .workout-slide{
        height: 250px;
        width: 180px;
        margin: 0 10px;
    }
    
    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 0 -10px 40px -10px;
      
        .card {
          display: inline-block;
        }
      }

      .card-center-bg{
          justify-content: left !important;
      }

      .card-center-text{
          text-align: left !important;

      }

     .goals .card-center-text{
        position: absolute;
        bottom: 10px;
    }
    
      .card-center-text .title{
        color: white;
        margin: 0;
        font-size: 30px !important;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 30px;
        letter-spacing: 1px;
        font-family: 'Gilroy-blacktalic' !important;
        text-transform: none !important;
      }

      .card-center-text .subtitle {
        color: #fafafa;
        text-transform: none !important;
        font-size: 14px;
        font-family: 'Nunito';
        line-height: 18px;
    }

    ion-row:nth-last-child(1) ion-col{
        margin-bottom: 35px !important;
    }

  

    .view-all{
        display: flex;
        flex-direction: row;
        width: 100% !important;
        margin-bottom: 20px;
    }

    .info2{
        width: 25%;
        text-align: right !important;
        margin: 0px !important;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Proxima-semi';
        color: #f7474f;

    }

    .goals ion-col{
        min-height: 150px;
    }

    .goals-info ion-col{
        min-height: auto;
    }

    .scroll ion-col{
        margin-bottom: 35px !important;
        padding-left: 0;
    }

    .goals{
        margin-bottom: 15px;
        padding: 0px !important;
    }

    ion-col{
        padding-right: 0;
        padding-left: 0;
    }


    @media only screen and (max-width: 320px) {
        ion-grid{
            max-width: 95%;
        }
    }

    @media only screen and (max-width: 260px) {
      .workout-info .today{
          width: 65%;
      }
      .info2{
          width: 35%;
      }

      .today{
          font-size: 18px;
          line-height: 20px;
      }
    }

