<div class="main-wrapper">
  <ion-header class="lightheader" no-border>
    <ion-toolbar mode="ios" class="ion-color" [style.background-color]="customColor">
      <ion-title class="ion-text-capitalize">
        Sign Up
        </ion-title>
            <ion-buttons slot="start">
              <ion-button color="primary" mode="md" (click)="goClosePage()" slot="start">
                <ion-icon name="md-arrow-back"></ion-icon>
              </ion-button>
            </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fixed class="ion-color" [style.background-color]="customColor">
  
  <ion-grid fixed style="height: 100%;">
  
      <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
        <ion-col size="8" class="ion-text-center">
          <h1>Create an account</h1>
    
          <form class="form" [formGroup]="validationsform" (ngSubmit)="tryRegister(validationsform.value)">
            <ion-list class="line-input" mode="md"> 
              <ion-item mode="md">
                  
            <ion-input class="ion-text-left ion-color" placeholder="Full Name" type="text" formControlName="name" [style.background-color]="customColor"></ion-input>
              </ion-item> 
            </ion-list>
  
            <ion-list class="line-input" mode="md"> 
              <ion-item mode="md">
                  
            <ion-input class="ion-text-left" placeholder="Email" type="email" formControlName="email"></ion-input>
              </ion-item> 
            </ion-list>
  
            <ion-list class="line-input" mode="md"> 
                <ion-item mode="md"> 
              
            <ion-input class="ion-text-left" type="Password" placeholder="Password" formControlName="password"></ion-input>
            <ion-icon name="md-eye" size="medium" slot="end"></ion-icon>
                </ion-item> 
              </ion-list>
          <ion-button class="button-h ion-color" mode="ios" type="submit" [disabled]="!validationsform.valid" [style.background-color]="customColor" fill="solid" size="default" shape="round" expand="block">
                {{strings.ST28}}
              </ion-button>
            </form>
    
        </ion-col>
      </ion-row>
    
    </ion-grid>
  
  </ion-content>
  </div>