<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios" class="ion-color" [style.background-color]="customColor">
    <ion-title class="ion-text-capitalize">
      Workouts
    </ion-title>
    <ion-buttons slot="start">
      <app-backbutton class="arrow"></app-backbutton>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding ion-color" [style.background-color]="customColor">

    <app-loading *ngIf="isLoading"></app-loading>

    <ion-grid class="ion-no-padding header-info">
      <img src="./assets/images/top_header.png" class="start-logo"/>
        <ion-row class="header-bg" [ngStyle]="{'height': innerHeight}">
          <div class="text">
          <p class="name">{{workout.workout_title}}</p>
          <p class="time">{{workout.workout_duration}}</p>
        </div>
        </ion-row>
        <ion-row class="cols">
          <ion-col size="6" class="ion-text-center">
            <p class="text">{{strings.ST16}}</p>
            <p class="value">{{workout.goal_title}}</p>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
              <p class="text">{{strings.ST17}}</p>
              <p class="value">{{workout.level_title}}</p>
            </ion-col>
        </ion-row>
      </ion-grid>

      <div class="days">

      <div *ngFor="let item of days let i = index">
            <div class="tags" [routerLink]="['/weday', workout.workout_id, i+1]">
                <h1>{{strings.ST87}} {{i+1}}</h1>
                <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
            </div>
      </div>

    </div>


</ion-content>
