<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios" class="ion-color" [style.background-color]="customColor">
    <ion-title class="ion-text-capitalize">
      Workouts
    </ion-title>
    <ion-buttons slot="start">
      <app-backbutton class="arrow"></app-backbutton>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding ion-color" [style.background-color]="customColor">

    <app-loading *ngIf="isLoading"></app-loading>

    <ion-grid class="ion-no-padding header-info">
      <img src="./assets/images/blast.png" class="start-logo"/>
        <ion-row class="header-bg" [ngStyle]="{'height': innerHeight}">
          <div class="text">
          <p class="name">6-DAY FLAT BLAST</p>
          <p class="author">by Margret Robbie</p>
          <p class="further-info">There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope. It’s exciting to think about setting up your own viewing station whether that is on the deck of your home or having a powerful but mobile telescope set up to take to the remove countryside to really get a good shot at some.</p>
        <div class="level-info">
          <img src="./assets/images/level_easy.png" class="level-logo"/>
          <p class="task">Level</p>
          <p class="task-info">Easy</p>
        </div>
        <div class="level-info">
          <img src="./assets/images/sets.png" class="level-logo"/>
          <p class="task">Sets</p>
          <p class="task-info">4</p>
        </div>
        <div class="level-info">
          <img src="./assets/images/reps.png" class="level-logo"/>
          <p class="task">Reps</p>
          <p class="task-info">10</p>
        </div>
        <div class="level-info">
          <img src="./assets/images/rest.png" class="level-logo"/>
          <p class="task">Rest</p>
          <p class="task-info">1 min</p>
        </div>
        </div>
        </ion-row>
        <ion-row class="cols" style="display: none;">
          <ion-col size="6" class="ion-text-center">
            <p class="text">{{strings.ST16}}</p>
            <p class="value">{{workout.goal_title}}</p>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
              <p class="text">{{strings.ST17}}</p>
              <p class="value">{{workout.level_title}}</p>
            </ion-col>
        </ion-row>

        <!--FOR EXTRACTING EXCERSISES FROM THE EXCERSISES PAGE-->
        <ion-row>
            <p class="exercise-header">Exercises</p>
        </ion-row>
      </ion-grid>

      <div class="days" style="display: none;">

      <div *ngFor="let item of days let i = index">
            <div class="tags" [routerLink]="['/weday', workout.workout_id, i+1]">
                <h1>{{strings.ST87}} {{i+1}}</h1>
                <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
            </div>
      </div>

    </div>


</ion-content>
