.header-bg{
    background-color: #191919;
    padding: 0 25% 0 5%;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}


.time{
    max-width: 120px;
    width: 100%;
    background: #f7474f;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Proxima-bold';
}

.tags{
    background-color: #313235;
    padding: 15px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tags h1 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-family: 'Proxima-bold';
    color: #fafafa;
    line-height: 18px;
}
.days{
    padding: 40px 5%;
    background-color: #191919;
}

.tags ion-icon{
    font-size: 22px;
}

ion-grid{
    background-color: #191919;
}

.text{
    margin: 10px 0 30px 0;
}
/* */
.cols{
background-color: var(--ion-color-primary);
padding: 10px 0;
border-radius: 5px;
margin: 0 auto;
max-width: 90%;
}

.cols .text{
    color:#ffffff;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
} 

.cols .value{
    margin: 0;
    color:#ffffff;
    font-size: 14px;
    font-family: 'Nunito';
    font-weight: 600;
    line-height: 16px;

} 

.tags ion-icon{
    position: absolute;
    right: 14px;
    top: 11px;
    font-size: 22px;
}

.ion-text-capitalize{
    width: 100%;
    color: #f7474f;
    font-family: Proxima-bold;
    font-size: 20px !important;
    text-transform: none !important;
    }   

    .in-toolbar{
        padding: 20px 0 10px 0 !important;
        background: #191919;
    }
    
    .ion-page {
        .in-toolbar {
          .toolbar-background {
            background: transparent !important;
          }
        }
      }
    
      ion-content{
        background: #191919 !important;
    }

    .header-info ion-row{
        max-width: 90%;
        margin: 0 auto !important;
        height: auto !important;
    }

    .name{
        font-size: 30px;
        line-height: 35px;
        font-family: 'Proxima-bold';
        color: #ffffff;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .close-img{
            max-width: 16px;
            max-height: 16px;
    }
        @media only screen and (max-width: 320px) {
            .header-bg {
                background-color: #191919;
                padding: 0 15% 0 5%;
            }
            .name{
                font-size: 25px;
                line-height: 30px;

            }
          }