<ion-header class="lightheader" no-border>
    <ion-toolbar mode="ios" class="ion-color" [style.background-color]="customColor">
      <ion-title class="ion-text-capitalize">
            {{strings.ST130}}
          </ion-title>
        <ion-buttons slot="start">
            <app-backbutton class="arrow"></app-backbutton>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button  slot="start" [routerLink]="['/tabs/tab1']">
            <img src="./assets/images/close.png" class="close-img"/> 
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content  class="ion-color ion-no-padding" [style.background-color]="customColor">
      <app-loading *ngIf="isLoading"></app-loading>

      <ion-grid class="ion-no-padding">
          <ion-row class="header-bg" [ngStyle]="{'height': innerHeight}">
            <div class="text">
            <p class="name">{{post.post_title}}</p>
            <div class="author">
            <img src="./assets/images/avatar.png" class="author-img"/>   
            <p class="author-info">Sanjay Tarana - Fitness World</p>
            <ion-buttons slot="end" class="star">
              <ion-button (click)="addToFavorites()" slot="start">
                <ion-icon color="primary" mode="md" [name]="icon"></ion-icon>
                </ion-button>
            </ion-buttons>
            </div>
            <app-postrating *ngIf="rating > 0" [value]="rating" color="rgba(255, 255, 255, 0.3)" [size]="18"></app-postrating>
          </div>
      </ion-row>
      </ion-grid>
      
        <div class="ion-padding">
        <app-html [htmlcontent]="post.post_description" class="test" [style.font-size]="fontVariable"></app-html>
        </div>
</ion-content>
