.header-bg{
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: auto !important;
}

.header-bg .text{
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0 0 0;
    max-width: 90%;
    margin: 0 auto;
}

.header-bg .name{
    color: #ffffff;
    text-align: left;
    margin: 0;
    font-family: 'Proxima-bold';
    font-size: 22px;
    margin-bottom: 6px;
    line-height: 26px;
    padding-left: 0px;
}

.header-bg .time{
    color: var(--ion-color-primary);
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
}

.cols{
    background-color: var(--ion-color-primary);
    padding: 10px 24px;
    }

.col-text{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    align-items: center;
    display: flex;
}
.cols ion-icon{
    padding: 0 5px;
}

.date-category{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px;
}

.date-category p{
    margin: 0;
    font-size: 13px;
    display: inline-flex;
    text-transform: uppercase;
    padding-right: 10px;
    color: #9e9e9e;
}

.date-category ion-icon{
    margin-right: 5px;
    font-size: 16px;
}

.ion-page {
    .in-toolbar {
      .toolbar-background {
        background: #212121 !important;
      }
    }
  }

  ion-content{
    background: #191919;
}

ion-header{
    background-color:#212121 ;
    height: 100%;
    padding: 10px 0 10px 0 !important;
    height: auto ;
}

.ion-text-capitalize{
    width: 100%;
    color: #f7474f;
    font-family: Proxima-bold;
    font-size: 20px !important;
    text-transform: none !important;
    }

.author-img{
    width: 25px;
    height: 25px;
    border-radius: 20px;
}    

.author{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.author p, .ion-no-padding p{
    margin: 0px;
    padding: 3px 10px;
    font-family: 'Proxima-light';
    font-size: 14px;
    line-height: 18px;
    color: #fafafa;
    text-align: left;
}

 app-html{
    color: #ffffff !important;
    font-family: 'Nunito' !important;
    font-size: 18px !important;
    line-height: 22px !important;
}

.ion-padding{
    padding-top: var(--ion-padding, 5px) !important;
}

.arrow{
    color: #f7474f !important;
}

.star{
    margin-top: -8px;
}

.close-img{
    max-width: 16px;
    max-height: 16px;
}