<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" >
      <img src="./assets/images/workout.png" class="tab-img"/> 
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="./assets/images/exercises_.png" class="tab-img">
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="./assets/images/diet_.png" class="tab-img">
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <img src="./assets/images/blog_.png" class="tab-img">
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <img src="./assets/images/profile_.png" class="tab-img">
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>