<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios" class="ion-color" [style.background-color]="customColor">
    <ion-title class="ion-text-capitalize">
      {{title}}
    </ion-title>
    <ion-buttons slot="start">
      <app-backbutton class="arrow"></app-backbutton>
    </ion-buttons>
        <ion-buttons slot="end">
      <ion-button  slot="start" [routerLink]="['/tabs/tab1']">
        <img src="./assets/images/close.png" class="close-img"/> 
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--
<ion-content>
  
  <app-loading *ngIf="isLoading"></app-loading>

  <app-empty *ngIf="exercises.length === 0" [title]="strings.ST140"></app-empty>

  <ion-list lines="none" class="ion-padding-top">

  <ion-item *ngFor="let item of exercises" [routerLink]="['/edetails', item.exercise_id]">
      <ion-avatar slot="start">
        <img [src]="item.exercise_image | image">
      </ion-avatar>
      <ion-label>{{item.exercise_title}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
-->

<ion-content fixed class="ion-color" [style.background-color]="customColor">

  <app-loading *ngIf="isLoading"></app-loading>

  <app-empty *ngIf="exercises.length === 0" [title]="strings.ST140"></app-empty>

  <ion-list lines="none" class="ion-padding-top">
    <ng-container *ngFor="let item of exercises; index as i;">


      <ion-item  class="ion-color" [style.background-color]="customColor">
<!--
        <ion-avatar slot="start">
          <img class="body-img" [src]="item.exercise_image | image">
        </ion-avatar>
        <div class="body-info">
          <ion-label>{{item.exercise_title}}</ion-label>
          <p>10 Reps - 4 Sets</p>
          </div>
          -->
          <div class=" body-parts">
          <div class="tags"  (click)=toggleInfo(i)>
    
            <ion-avatar slot="start">
              <img src="./assets/images/blast.png" class="exer-img"/>
            </ion-avatar>
            <div class="exer-info">
            <ion-label>Barbell Hang Pull</ion-label>
            <p>10 Reps - 4 Sets</p>
            <ion-icon [name]="isInfoHidden ? 'arrow-down' : 'arrow-up'"  slot="end" class="arrow-icon" ></ion-icon>
            </div>
        
          </div>
        
          <div *ngIf="show[i]" class="animated fadeIn subinfo">
            <div  class="test">
          <img src="./assets/images/blast.png" class="sub-img"/> 
          <div class="further-info">
          <p class="exer-title">wdjhvfjl  q</p>
          <p class="subtitle">jdhv</p>
        </div>
          </div> 
         </div> 
         </div>

      </ion-item>
<!--
      <ng-template #notShow >
        <ion-item class="disabled" [routerLink]="['/profile']">

          <ion-avatar slot="stat">
            <img class="body-img" [src]="item.exercise_image | image">
          </ion-avatar>
          <div class="body-info">
          <ion-label>{{item.exercise_title}}</ion-label>
          <p>10 Reps - 4 Sets</p>
          </div>
        </ion-item>
      </ng-template>
      -->
    </ng-container>
  </ion-list>


</ion-content>