<ion-header  class="lightheader" mode="ios" no-border>
  <ion-toolbar mode="ios" class="ion-color" [style.background-color]="customColor">
      <ion-title class="ion-text-capitalize">
          {{title}}
        </ion-title>
              <ion-buttons slot="start">
                <app-backbutton class="arrow"></app-backbutton>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button  slot="start" [routerLink]="['/tabs/tab1']">
                  <img src="./assets/images/close.png" class="close-img"/> 
                  </ion-button>
              </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-color" [style.background-color]="customColor">
  
    <app-loading *ngIf="isLoading"></app-loading>
    <app-empty *ngIf="workouts.length === 0" [title]="strings.ST141"></app-empty>

  
    <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let item of workouts" [routerLink]="['/wdetails', item.workout_id]" [ngStyle]="{'height': height}">

<!--
            <ion-col size="12" *ngFor="let item of workouts" [routerLink]="['/newwdetails']" [ngStyle]="{'height': height}">


-->
             <div class="cardcategory" [style.background-image]="'url(' + (item.workout_image | image) + ')'">
                 <div class="overlay">
                 <div class="texts">
                 <p>{{item.level_title}}</p>
                 <h1>{{item.workout_title}}</h1>
                 <div class="more-info">
                  <h3><ion-icon name="ios-stopwatch" color="light"></ion-icon>20 minutes<img src="./assets/images/level_easy.png" class="level-easy"/>Easy</h3>
                  </div>
                 </div>
               </div>
               </div>
          </ion-col>
        </ion-row>
      </ion-grid>

  </ion-content>
