ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
  
    ion-row {
        flex-grow: 1;
        height: 100%;
    }

  }
 
  ion-content{
    background: #191919;
}

ion-header{
    background-color:#191919 ;
    height: 100%;
    padding: 10px 0 10px 0 !important;
    height: auto ;
}

.ion-text-capitalize{
    width: 100%;
    color: #eafff7;
    font-family: Proxima-bold;
    font-size: 32px !important;
    line-height: 32px;
    text-transform: none !important;
    padding: 0 5%;
    text-align: left;
    }
