ion-grid{
    height: 100%;
    max-width: 95%;
    margin: 20px auto;
}

ion-content{
    background: #191919;
}

ion-row{
    height: 100%;
}

.cardcategory{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 8px;
}

.cardcategory .overlay{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    text-align: left;
    border-radius: 8px;
}

.cardcategory .texts{
    padding:  15px 15px 15px 0;
    position: relative;
    top: 4.8em;
    width: 100%;
}

.cardcategory .texts h1{
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cardcategory .texts p{
    color: white;
    font-size: 12px;
    display: flex;
    margin-top: 7px;
    text-transform: capitalize;
    letter-spacing: 0;
    align-items: center;
    margin-right: 5px;
}

.cardcategory .texts p ion-icon{
    margin-right: 4px;
    font-size: 15px;
}

.ion-page {
    .in-toolbar {
      .toolbar-background {
        background:#212121 !important;
      }
    }
  }

  .ion-text-capitalize{
    width: 100%;
    color: #f7474f;
    font-family: Proxima-bold;
    font-size: 20px !important;
    text-transform: none !important;
    }
    .in-toolbar{
        padding: 30px 0 0px 0 !important;
        background: #191919;
    }

    .item-native{
        background-color:#454545;
    }

    ion-col{
   margin-bottom: 4em;
   height: 221px !important;
    }
    
    .sc-ion-textarea-md-h{
        margin-top: 2px;
    }

    .arrow{
        color: #f7474f !important;
    }

    .close-img{
       max-width: 16px;
       max-height: 16px;
    }