.start-logo{
    max-width: 160px;
    margin-bottom: 20px;
}

.button-h{
    background-color: #E71923;
    color: #ffffff !important;
    font-weight: 600 !important;
    margin-top: 9em !important;
    --background-color: #E71923 !important;
    border-radius: 50px;
    height: 60px;
    font-size: 20px;
    font-family: Proxima-bold;
}

.button{
    --opacity: 1 !important;
    --font-size: 18px !important;
}

.go-to-restpass
{
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
  position: relative;
  bottom: 14em;
}

.go-to-restpass a
{
  color: #ffffff;
  text-decoration: underline;
  font-family: proxima-bold;
}

.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --background-activated: #21201F;
        --background-focused: #21201F;
        --background-hover: #21201F;
        --highlight-height: 0;
        border: 1px solid #21201F;
        border-radius: 5px;

        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }

        ion-label {
            color: #979797!important;
            font-weight: 300;
            font-size: 14px!important;
        }

        ion-icon{
            color: #807e7e !important;
            margin-right: 8px !important;
        }
    }
}

.sc-ion-input-ios-h{
    font-size: 14px !important;
}

.main-wrapper{
    background-image: url('../../../assets/images/log-background.jpg') !important;
    height: 100% !important;
    background-size: cover;
    background-repeat: none;

}

ion-header{
    background-image: url('../../../assets/images/log-background.jpg') !important;
    padding: 20px 5% 0px 5%;
    background-position: top;
    margin-bottom: -50px;
}

.ion-page {
    .in-toolbar {
      .toolbar-background {
        background: transparent !important;
        padding: 0 !important;
      }
    }
  }

  .line-input{
      background: transparent !important;
  }

  .ion-text-capitalize{
    padding: 0 4%;
    text-align: right;
    width: 100%;
    color: #ffffff;
    font-family: Proxima-bold;
    }


.ion-text-center{
    flex: 0 0 calc(calc(8 / var(--ion-grid-columns, 9)) * 100%) !important;
    width: calc(calc(8 / var(--ion-grid-columns, 9)) * 100%) !important;
    max-width: calc(calc(8 / var(--ion-grid-columns, 9)) * 100%) !important;
    height: 90%;
}

.line-input{
    background: none !important;
}

ion-item {
    --ion-background-color: #21201F !important;
  }

  .sc-ion-input-ios-h{
    font-size: 18px !important;
    background: transparent !important;
    background-color: transparent !important;
    color: #979797 !important;
}
.native-input.sc-ion-input-ios {
    font-size: 18px !important;
}

h1{
    font-size: 30px;
    line-height: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 40px;
    font-family: Proxima-black;
}

.ion-text-left{
    color:  #979797 !important;
    font-size: 20px !important;
    font-weight: normal;
    opacity: 1 !important;
  }

  .form{
      margin-bottom: 50px !important;
  }