ion-avatar {
    width: 100% !important;
    height: 100% !important;
    max-width: 90px !important;
    max-height: 98px !important;
    border-radius: 0;
    margin: 0 15px 0px 0 !important;
}

ion-avatar img {
    border-radius: 0;

}

ion-item ion-label, .exer-info ion-label {
    padding-left: 0px;
    white-space: normal !important;
    color: #ffffff !important;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Proxima-bold';
}

ion-item {
    border-bottom: 1px solid #eee !important;
}

ion-item {
    --background-focused: #191919 !important;
    --background-activated: #191919 !important;
    --detail-icon-color: transparent;
    --detail-icon-opacity: 1;

    background: none !important;
    border: none !important;
}

.item-native{
    background-color: #191919 !important;
    display: none !important;
}
.disabled {
  //  pointer-events: none; //This makes it not clickable
    opacity: 1; //This grays it out to look disabled
    position: relative;
    z-index: 1000;
    filter: blur(1px);
}

.item-native{
    background-color:#454545;
}

.in-toolbar{
    padding: 30px 0 00px 0 !important;
    background: #191919;
}

.ion-page {
    .in-toolbar {
      .toolbar-background {
        background: transparent !important;
      }
    }
  }

  ion-content{
    background: #191919;
}

ion-list{
    background-color:#191919 ;
    padding-top: 20px;
}
ion-item{
    --background: none !important;
    margin-bottom: 20px !important;
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid #313235 !important;
    border-radius: 5px;

}

 .body-img{
    width: 90px;
    height: 98px;
 } 

 .ion-text-capitalize{
    width: 100%;
    color: #f7474f;
    font-family: Proxima-bold;
    font-size: 20px !important;
    text-transform: none !important;
    }   

 p{
     color: #ffffff;
     margin: 5px 0;
     font-size: 16px;
     line-height: normal;
     letter-spacing: normal;
     font-family: 'Muli-light';
 }

 .body-info{
     position: absolute;
     top: 20px;
 }

 ion-item {
    --background-focused: #fff !important;
    --background-activated: #fff !important;
    --detail-icon-color: var(--ion-color-primary);
    --detail-icon-opacity: 1;
    --detail-icon-transform: rotate(90deg) !important;
}

 .body-info p, .exer-info p{
     font-size: 16px;
     color: #979797;
     line-height: 16px;
     font-family: 'Nunito-light';

 }

 .arrow{
     color: #f7474f !important;
 }

 .tags{
     display: flex;
    flex-direction: row; 
    max-width: 100%;
    border: 1px solid #313235;
    border-radius: 5px;
    }

    .exer-img{
        width: 98px;
        height: 90px;
        display: block;
    }

    .exer-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .arrow-icon{
        position: absolute;
        right: 4%;
        width: 20px;
        height: 20px;
        color:#8d8a8a !important;
    }

    .subinfo{
        max-width: 100%;
        margin: 0 auto;
    }

    .further-info{
       
        margin: 0 auto;
        border: 1px solid #313235;
        border-top: none;
        padding: 5%;
    }


    .exer-title{
        color: #fafafa;
        line-height: 26px;
        font-size: 22px;
        font-family: 'Proxima-bold';
    }

    .subinfo .subtitle{
        color: #fafafa;
        line-height: 20px;
        font-size: 16px;
        font-family: 'Muli-Regular';
    }

    .sub-img{
        display: block;
        margin-top: -3px;
        border-right: 1px solid #313235;
        border-left: 1px solid #313235;
    }

    .body-parts{
        display: flex !important;
        flex-direction: column !important;
       --display: flex !important;
        --flex-direction: column !important;
        width: 100%;
    }

    .close-img{
        max-width: 16px;
        max-height: 16px;
    }

    .further-info p{
        color: #fafafa;
        line-height: 20px;
        font-size: 16px;
        font-family: 'Proxima-regular';
        --padding-inline-start: 0px !important;
        padding-inline-start: 0px !important;
    }

    .further-info  span{
        margin-left: -23px !important;
        display: block;
    }


    .further-info .exer-title{
        color: #fafafa;
    line-height: 24px;
    font-size: 20px;
    font-family: 'Proxima-bold';
    }

    .further-info .subtitle{
        color: #fafafa;
        line-height: 20px;
        font-size: 16px;
        font-family: 'Proxima-bold';
    }

  
    @media only screen and (max-width: 280px) {
        ion-item ion-label, .exer-info ion-label{
            font-size: 16px;
            line-height: 18px;
        }

        ion-avatar{
            margin: 0 10px 0 0 !important;
            max-width: 75px !important;
        }

        .arrow-icon{
            right: 2%;
        }
    }

    @media only screen and (max-width: 250px) {
        ion-avatar{
            max-width: 70px !important;
        }
    }
