<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios" class="ion-color" [style.background-color]="customColor">
      <ion-title class="ion-text-capitalize">
        {{strings.ST38}}
      </ion-title>
            <ion-buttons slot="start">
              <app-backbutton class="arrow"></app-backbutton>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button  slot="start" [routerLink]="['/tabs/tab1']">
                <img src="./assets/images/close.png" class="close-img"/> 
                </ion-button>
            </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<!--
  <ion-content class="ion-padding-top">
  
    <app-loading *ngIf="isLoading"></app-loading>


    <ion-list lines="none" class="ion-padding-top">

    <ion-item *ngFor="let item of equipments" [routerLink]="['/eequipments', item.equipment_id, item.equipment_title]" style="margin-bottom: 30px;">
        <ion-avatar slot="start">
          <img [src]="item.equipment_image | image">
        </ion-avatar>
        <ion-label>{{item.equipment_title}}</ion-label>
      </ion-item>

    </ion-list>

</ion-content>
-->

<ion-content fixed class="ion-color" [style.background-color]="customColor">

  <app-loading *ngIf="isLoading"></app-loading>
  <ion-grid fixed>
      <ion-row>
        <ion-col *ngFor="let item of equipments" size="6" [routerLink]="['/eequipments', item.equipment_id, item.equipment_title]" [ngStyle]="{'height': height}">


          <div class="cardcategory" style="background-image: url(http://hosting.lakeba.com:8092/images/{{item.equipment_image}})">
            <div class="overlay">
            <div class="texts">
            <h1>{{item.equipment_title}}</h1>
            </div>
          </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
