<ion-header class="lightheader" mode="ios" no-border >
  </ion-header>
  
  <ion-content class="ion-no-padding ion-color" [style.background-color]="customColor">

      <ion-grid class="ion-no-padding">
        <ion-row [style.background-image]="'url(' + (diet.diet_image | image) + ')'" [ngStyle]="{'height': innerHeight}">
          <div class="ion-header">
            <ion-toolbar mode="ios" class="ion-color" [style.background-color]="customColor">
              <ion-buttons slot="start">
                <app-backbutton color="arrow" class="arrow"></app-backbutton>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button  slot="start" [routerLink]="['/tabs/tab1']">
                  <img src="./assets/images/close.png" class="close-img"/> 
                  </ion-button>
              </ion-buttons>
          </ion-toolbar>
           </div> 
        </ion-row>
          <ion-row class="header-bg" >
      </ion-row>

      </ion-grid>

      <ion-toolbar mode="ios" class="ion-color favourite" [style.background-color]="customColor">
        <ion-buttons slot="end" class="star">
          <ion-button (click)="addToFavorites()" slot="start">
            <ion-icon color="primary" mode="md" [name]="icon"></ion-icon>
            </ion-button>
        </ion-buttons>
        <div class="text">
          <p class="time category">{{diet.category_title}}</p>
          <p class="name-food">{{diet.diet_title}}</p>
        </div>
    </ion-toolbar>

      <ion-toolbar no-border-top class="ion-no-padding ion-color" [style.background-color]="customColor">
      <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" mode="md" class="diet-container">
          <ion-segment-button value="0" mode="md">
            <ion-label>{{strings.ST46}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1" mode="md" class="second"> 
            <ion-label>{{strings.ST47}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2" mode="md">
              <ion-label>{{strings.ST48}}</ion-label>
            </ion-segment-button>
        </ion-segment>
      </ion-toolbar> 

      <ion-slides [options]="slideOpts" #slides (ionSlideDidChange)="slideChanged()" scrollbar="false">  
          <ion-slide>
              <ion-grid fixed>
                <ion-row>
                  <p class="ion-color about-meal" [style.background-color]="customColor">About the meal</p>
                  <app-html [htmlcontent]="diet.diet_description" class="ion-text-left description-diet"></app-html>
              </ion-row>
              <ion-row>
               <p class="nutrition">Nutrition</p>
            </ion-row>
                  <ion-row class="detail-info">
                      <ion-col size="3" class="col-icon">
                      <p class="value">{{diet.diet_calories}}</p>
                      <p class="name">{{strings.ST45}}</p>
                      </ion-col>

                      <ion-col size="3" class="col-icon">
                        <p class="value">{{diet.diet_protein}}</p>
                          <p class="name">{{strings.ST50}}</p>
                          </ion-col>
                  
                          <ion-col size="3" class="col-icon">
                            <p class="value">{{diet.diet_fat}}</p>
                              <p class="name">{{strings.ST51}}</p>
                              </ion-col>

                              <ion-col size="3" class="col-icon">
                                <p class="value">{{diet.diet_carbs}}</p>
                                  <p class="name">{{strings.ST52}}</p>
                                  </ion-col>

                  </ion-row>
                </ion-grid>

          </ion-slide>  
          <ion-slide class="ingredients">
            <p class="ion-color about-meal" [style.background-color]="customColor">Method</p>
            <app-html [htmlcontent]="diet.diet_ingredients" class="ion-text-left method"></app-html>
            <p class="ion-color about-meal recommend-info" [style.background-color]="customColor">Recommended Recipes</p>
            <div class="recommend">
              <div class="fav">
                <img src = "./assets/images/meal_card.png" class="img-recommend">
                <p class="ion-color about-recommend" [style.background-color]="customColor">Tomato Meatballs</p>
              </div>
              <div class="fav">
                <img src = "./assets/images/meal_card2.png" class="img-recommend">
                <p class="ion-color about-recommend" [style.background-color]="customColor">Tomato Meatballs</p>
              </div>
            </div>
          </ion-slide>  
          <ion-slide class="direction">
            <p class="ion-color about-meal" [style.background-color]="customColor">Method</p> 
            <app-html [htmlcontent]="diet.diet_directions " class="ion-text-left method"></app-html> 
          </ion-slide>  
          </ion-slides>  

  </ion-content>
  