<ion-content fixed class="dark">

<ion-grid fixed class="grid-bg">

  <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
    <ion-col size="8" class="ion-text-center">
      <div class="img-logo">
      <img src="./assets/images/logo-.png" class="start-logo"/>
      </div>
<div class="button-start">
  <ion-text color="light">
    <h1>FIND YOUR FIRE</h1>
    <p>Create account to get your personalised nutrition & training </p>
  </ion-text>
      <ion-button class="fb-button button-h start-button" mode="ios" (click)="goLoginPage()" color="#3A5998" fill="solid" size="default" shape="round" expand="block">
        {{strings.ST26}}
      </ion-button>
      <ion-text class="start-or" color="light">
        or
       </ion-text> 
      <ion-button class="button-h margin-h start-button" (click)="goSignUpPage()" mode="ios" color="none" fill="outline" size="default" shape="round" expand="block" no-border>
        {{strings.ST27}}
      </ion-button>

     </div>

    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>
