<ion-header  class="lightheader" mode="ios" no-border>
  <ion-toolbar mode="ios" class="ion-color" [style.background-color]="customColor">
      <ion-title class="ion-text-capitalize">
        {{strings.ST87}} {{day}}
      </ion-title>
       
        <ion-buttons slot="start">
          <app-backbutton color="primary"></app-backbutton>
        </ion-buttons>
              <ion-buttons slot="end">
                <ion-button  slot="start" [routerLink]="['/tabs/tab1']">
                  <img src="./assets/images/close.png" class="close-img"/> 
                  </ion-button>
              </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

  
  <ion-grid class="ion-no-padding header-info">

        <ion-list lines="none" class="ion-padding-top">
          <ng-container *ngFor="let item of exercises; index as i;">
      
      
            <ion-item class="ion-color" [style.background-color]="customColor">
              <div class=" body-parts">
                    <div class="tags"  (click)=toggleInfo(i,item.exercise_id)>
          
                      <ion-avatar slot="start">
                        <img class="exer-img" [src]="item.exercise_image | image">

          
                      </ion-avatar>
                      <div class="exer-info">
                        <ion-label>{{item.exercise_title}}</ion-label>
          
                        <ion-icon  *ngIf="enabledID!=i" name="arrow-down" slot="end" class="arrow-icon"></ion-icon>
                        <ion-icon *ngIf="enabledID==i" name="arrow-up" slot="end" class="arrow-icon"></ion-icon>                      </div>
          
                    </div>
          
                    <div *ngIf="enabledID==i" class="animated fadeIn subinfo">
                      <div class="test">
              
                        <div class="further-info">

                          <p class="exer-title">{{item.exercise_title}}</p>
                          <p class="subtitle">{{exercise2.level_title}}</p>
                          <p>{{exercise2.exercise_reps}} Reps - {{exercise2.exercise_sets}} Sets</p>
          
                          <p><span [innerHTML]="exercise2.exercise_instructions"></span></p>
                          <ion-footer mode="ios" no-border>
                            <ion-button (click)="play()" class="primary ion-text-uppercase ion-text-bold" mode="ios"
                              expand="block">
                              {{strings.ST102}}
                              <ion-icon slot="start" name="md-arrow-dropright-circle"></ion-icon>
                            </ion-button>
                          </ion-footer>
                        </div>
                      </div>
                    </div>
              
                </div>
      
            </ion-item>
            
          </ng-container>
        </ion-list>
      </ion-grid>

  </ion-content>